.profile__edit-button {
  max-width: 24px;
  width: 100%;
  min-height: 24px;
  background: url(../../../images/EditButton.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0;
  transition: 0.5s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:600px) {
  .profile__edit-button {
    top: 7px;
    right: -25px
  }
}

@media screen and (max-width:320px) {
  .profile__edit-button {
      max-width: 18px;
      min-height: 18px;
  }
}