@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

/*HEADER*/
@import url(../blocks/header/header.css);


/*PROFILE*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit/profile__edit-button.css);
@import url(../blocks/profile/__add/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar-container.css);
@import url(../blocks/profile/__avatar/profile__avatar-overlay.css);
@import url(../blocks/profile/__avatar/_edit/profile__avatar_edit.css);


/*CARDS*/
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__list/_element/cards__list_element.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__like/cards__like-button.css);
@import url(../blocks/cards/__like/_active/cards__like-button_active.css);
@import url(../blocks/cards/__delete/cards__delete-button.css);
@import url(../blocks/cards/__like/cards__like-container.css);
@import url(../blocks/cards/__like/cards__like-number.css);

/*FOOTER*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);

/*POPUP*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__edit/popup__edit-profile.css);
@import url(../blocks/popup/__create/popup__create-cards.css);
@import url(../blocks/popup/__images/popup__images.css);
@import url(../blocks/popup/__image/-container/popup__image-container.css);
@import url(../blocks/popup/__image/-name/popup__image-name.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save/popup__save-button.css);
@import url(../blocks/popup/__close/popup__close-button.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/button/button_inactive.css);
@import url(../blocks/popup/__title/_delete/popup__title_delete.css);
@import url(../blocks/popup/__delete/popup__delete_card.css);
@import url(../blocks/popup/__change/popup__change-avatar.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/hide/hide_delete-button.css);
