.popup__container {
  max-width: 430px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: #000;
  margin: auto;
}

@media screen and (max-width:600px) {
  .popup__container {
      max-width: 282px;
      position: fixed;
      top: 300px;
  }
}