.cards__like-button {
  max-width: 22px;
  width: 100%;
  min-height: 22px;
  background: url(../../../images/like.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 15px 0 0;
  transition: 0.5s;
}

.cards__like-button:hover {
  opacity: 0.5;
}
